<header class="page-header">
  <div class="container">
    <div class="page-header__content">
{#      <figure class="logo-box-head">
         <svg version="1.1" xmlns="http://www.w3.org/2000/svg" 
                   xmlns:xlink="http://www.w3.org/1999/xlink" 
                   viewBox="0 0 144 36" 
                   preserveAspectRatio="xMidYMid meet">
         </svg>
      </figure> #}
      <nav>
				Navigation will be here
{#    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }} #}
      </nav>
    </div>
  </div>
</header>
